---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogGrid from "../../components/BlogGrid.astro";
import { fetchNewsData } from "../../utils/fetchNewsData";
import { tags } from "../../utils/constants.js";

export async function getStaticPaths() {
  const paths = [];

  for (const tag of tags) {
    try {
      const data = await fetchNewsData({ category: tag });
      paths.push({
        params: { tag },
        props: { posts: data.articles },
      });
    } catch (error) {
      console.error(`Failed to fetch data for tag: ${tag}`, error);
      // Push empty data, so that we can render the page with tags and post recommendations.
      paths.push({
        params: { tag },
        props: { posts: [] }, // Empty array as default data.
      });
    }
  }
  return paths;
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogGrid posts={posts} />)}
  </ul>
</BaseLayout>
