---
import BlogTags from "../../components/BlogTags.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogGrid from "../../components/BlogGrid.astro";
import { fetchNewsData } from "../../utils/fetchNewsData.js";
import { tags } from "../../utils/constants.js";

const data = await fetchNewsData();	
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<BlogGrid posts={data.articles}/>
	<BlogTags tags={tags}/>
</BaseLayout>