---
import BlogTags from "../../components/BlogTags.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogGrid from "../../components/BlogGrid.astro";

const baseUrl = import.meta.env.NEWS_API_BASE_URL;
const urlApiKey = "&apiKey=" + import.meta.env.NEWS_API_KEY;
const endpoint = "top-headlines";
const countryParam = "?country=us"; // pending make it dynamic

const allPosts = await Astro.glob('../../pages/posts/*.md');
// const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const tags = ["business", "entertainment", "general", "health", "science", "sports", "technology"];
const response = await fetch(baseUrl + endpoint + countryParam + urlApiKey);
const data = await response.json();

const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<BlogGrid posts={data.articles}/>
	<BlogTags tags={tags}/>
</BaseLayout>